body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo para toda la página */
    margin: 0;
    padding: 0;
    color: #333; /* Color del texto */
  }
  
  header {
    background-color: #2c3e50; /* Color de fondo para el encabezado */
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    background-color: #2c3e50; /* Color de fondo para el pie de página */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  form {
    background-color: #ffffff; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-width: 600px;
    margin: 20px auto;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f7eded;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background-color: #2a333b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #87aed4; /* Color de fondo al pasar el ratón por encima */
  }
  
  .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .imagen-galeria {
    max-width: calc(33.33% - 20px); /* Ajusta el ancho de las imágenes para que se muestren en una cuadrícula de 3 columnas */
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(29, 28, 28, 0.1);
    transition: transform 0.2s; /* Añade una transición para el efecto de hover */
  }
  
  .imagen-galeria:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al pasar el ratón por encima */
  }
  
  .imagen-contenido {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #db9f9f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(218, 185, 185, 0.1);
  }
  
 